.site_name {
  font-family: sans-serif;
  font-size: 75px;
  text-align: center;
}

.date {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

h2 a{
  font-family: sans-serif;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

h2 a:hover{
  text-decoration: underline;;
}

p.article_a{
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}

p.article_a a{
  text-decoration: none;
}

.comments{
  font-weight: normal;
}

.comments:hover{
    text-decoration: underline;
}

.bio {
  font-family: sans-serif;
  text-align: justify;
}

.list_name{
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: lighter;
}

div ul li a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

div ul li a:hover{
  text-decoration: underline;
}

mark.blue{
  color:blue;
  background-color: white;
  font-family: sans-serif;
}

mark.blue:hover{
  text-decoration: underline;
}
p.desc{
  font-family: sans-serif;
}
