.site_name {
  font-family: sans-serif;
  font-size: 75px;
  text-align: center;
}

.date {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

h2 a{
  font-family: sans-serif;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

h2 a:hover{
  text-decoration: underline;;
}

.bio {
  font-family: sans-serif;
  text-align: justify;
}

.list_name{
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: lighter;
}
